.fixed-bottom-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0rem;
  background-color: transparent; /* Customize or remove background-color as needed */
}
.fixed-bottom-container .custom-form-control {
  height: 6vh !important;
}
.disclaimer {
  text-align: center;
  padding: 0.5rem;
  margin-top: -1rem; /* Adjust so it's below the InputBox */
  font-size: 0.75rem;
}

.custom-form-control {
  height: 6vh !important;
  border-radius: 10px !important;
  background-color: #698FA4 !important; /* Black with 25% opacity */
  color: #e0e0e0 !important; /* Softer white/light gray text */
  border: 0px solid #fff !important; /* Optional: white border for visibility */
}

.custom-form-control::placeholder { /* Styles the placeholder text */
  color: #e0e0e0 !important; /* Softer white/light gray to match the input text */
  opacity: 1; /* Ensure the placeholder color is fully opaque */
}

.custom-send-button {
  border-radius: 10px !important;
  background-color: #096BDB !important; /* Primary button color */
  margin-left: 10px !important;
  height: 6vh !important;
  transition: background-color 0.3s ease, transform 0.3s ease !important; /* Smooth transition for hover effects */
}

.custom-send-button:hover, .custom-send-button:focus {
  background-color: #075aa9 !important; /* Darker shade for hover/focus */
  transform: scale(1.05); /* Slightly enlarges the button */
  color: #ffffff !important; /* Optional: Adjust text color on hover/focus for better visibility */
}



