/* Message.css */

.message {
  width: 100%; /* Set a fixed width for all messages */
  min-height: 4rem; /* Minimum height to ensure even empty messages have a visible container */
  word-wrap: break-word; /* Ensures that long words will wrap and not extend outside the container */
  margin-bottom: 0px; /* Space between messages */
  margin-top: 0px;
  padding: 0px; /* Padding inside the message box */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.875rem;
}

.user-message,
.bot-message {
  /* Continue with your specific styles for user and bot messages */
  /* For example: */
  background-color: #ACD1E3; /* Set your desired background color */
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bot-message {
  background-color: #B8D7E7; /* Different background for another type */
}

/* Add custom styling for your <strong> tags if needed, e.g., for "You" and "ChatGBG" */
strong {
  font-weight: bold;
}
.message-logo {
  height: 1.17rem; /* Adjust size as needed */
  width: 1rem; /* Adjust size as needed */
  margin-left: -1.5rem; /* Adds some space between the logo and the text */
  margin-right: 0.5rem; /* Adds some space between the logo and the text */
  margin-top: -0.25rem;
}

/* Loading dots animation */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.loading-dots {
  display: inline-block;
  margin-left: 4px; /* Adjust based on alignment needs */
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #333; /* Dot color, change as needed */
  margin-right: 2px;
  animation: blink 1.4s infinite both;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}