/* App.css */
body, html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #ACD1E3; /* Set your desired background color */
  color: #222A2D; /* Default text color, change as needed */
  font-family: 'Roboto Flex', sans-serif;
}

/* Add other styles as needed for your application */

